
header{
    background-color:transparent;
    padding:20px;
}
body {
    font-family: Arial, sans-serif;
    background: url('pic/sa.jpg') no-repeat center center fixed; 
    background-size: cover; 
    
}
nav {
    margin:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:none;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.logo{
    margin:0;
    display:flex;
    height: 100px;
    width:200px;
    object-fit:cover;
    border-radius:10px;
    margin-bottom:10px;
}
.btn {
    background-color: #ff5722;
    color:white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}
.Order {
    background: rgba(0, 0, 0, 0.5); 
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.Order h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.Order p {
    font-size: 20px;
    margin-bottom: 30px;
}

.order-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-student {
    background-color: #4caf50; 
}

.btn-student:hover {
    background-color: #45a049;
    border:border-box;
}

.btn-shopper {
    background-color: #4caf50; 
}

.btn-shopper:hover {
    background-color: #4caf50; 
}